<h2>Login</h2>

<%= form_for(:session, url: login_path) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "Log In" %>
    </div>
<% end %>

<p>New User? <%= link_to 'Sign Up Now!', new_user_path %> </p>