<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>

<p>
  <strong>Start:</strong>
  <%= @booking.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @booking.end %>
</p>

<p>
  <strong>Team:</strong>
  <%= @booking.team %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
