<!DOCTYPE html>
<html>
<head>
  <title>Library Management System</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <% if logged_in? %>
        <%= link_to "Library Management System", home_path, class: "navbar-brand" %>
    <% else %>
        <%= link_to "Library Management System", root_path, class: "navbar-brand" %>
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <li><%= link_to "Home", home_path %></li>
            <% if current_user.admin %>
                <li><%= link_to "Profile", admin_path(current_user) %></li>
            <% else %>
                <li><%= link_to "Profile", current_user %></li>
            <% end %>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <% flash.each do |message_type, message| %>
      <% if message_type == "notice" %>
          <div class="alert alert-success"><%= message %></div>
      <% else %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
  <% end %>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>

<% if logged_in? and current_user %>
    <div style="margin-bottom: 10px; padding-top: 80px; padding-left: 10px; color: lightslategray">
      <small>You are logged in as <%= current_user.name %>.</small>
    </div>
<% end %>
<footer class="footer">
  <small>
    The Library Management System
  </small>
  <rightsmall>
    by Kunal Kapoor, Mukundram M, Abhi
  </rightsmall>
</footer>
</body>
</html>
