<!DOCTYPE html>
<html>
  <head>
    <title>Library Management System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <h1>Library Management System</h1>
        <%= link_to "Home", root_path %>
        <% if logged_in? %>
            <%= link_to "Profile", current_user %>
            <%= link_to "Log out", logout_path, method: :delete %>
        <% else %>
            <%= link_to "Log In", login_path %>
        <% end %>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
